# Lists, Tuples, Loops

In [2]:
players: list[str] = ["Babar Azam","M.Rizwan","Shaheen Afridi"]

for pl in players:
    print(f"Our Shinning Stars are : {pl}")

Our Shinning Stars are : Babar Azam
Our Shinning Stars are : M.Rizwan
Our Shinning Stars are : Shaheen Afridi

In [3]:
for value in range(1, 5):
    print(value)

1
2
3
4

In [8]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [18]:
data_base : list[tuple[str,str]] = [
    ('rizwan','123'),
    ('Saleem','456'),
    ('asfand','000')
    ]

for data in data_base:
    user,password = data
    print(user,password)

rizwan 123
Saleem 456
asfand 000

In [25]:
numbers:list[int] = [1,2,3,4,5,6,7,8,9,10]

for num in numbers:
    print(f"2 X {num} = {2 * num}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [17]:
nums: list[int] = [1,2,4,577,0,0.1,232]

# min(nums)
# max(nums)
sum(nums)

816.1

In [22]:
username : str = input('Please enter username: ')
userpassword : int = input('Please enter password: ')

for data in data_base:
    user,password = data
    if username == user and userpassword == password:
        print('Valid User');
        break;
    else:
        print("Invalid username and password");
        break;

Valid User

In [26]:
list(range(2,10,2))

[2, 4, 6, 8]

In [9]:
myname: tuple[str] = ("Chouhdry","Rizwan")

print(myname[0])

Chouhdry

In [11]:
from typing import Any

dataType: tuple[Any] = [1,"Django",50.6,True]

print(dataType)
dataType.append("Rizwan")
print(dataType)

[1, 'Django', 50.6, True]
[1, 'Django', 50.6, True, 'Rizwan']